i {
  text-decoration: none;
}

.modal {
  position: static;
  width: 100px;
  height: 50px;
  margin: 50px auto;
  padding: 10px;
  font-size: small;
  background: #b3b0b0;
  text-align: center;

}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  font-size: larger;
  font-weight: bold;
}

.header i {
  display: block;
  font-weight: lighter;
  text-align: right;
}